.card-img-top{
    height:275px ;
    width: 445px ;
}
* {
 margin: 0;
 padding: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    height: 270px;
    width: 270px;
}
.card-text{
    margin: 0;
}
.card-title{
    margin: 0;
}
.inner{
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
#CardContainer{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap ;
    width: 100%;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.card{
    border-radius: 2rem !important;
}
.Sizing{
    flex-direction: column;
    height: 90vh;
    width: 80vw;
    padding: .5rem 0rem;
    gap: 3rem;
}
.SizingDiv{
    width: 100%;
    height: auto;
}
/* .SizeMayor{
    width: 100%;
    height: 100%;
} */
/* .Size{
    width: 50%;
    height: 100%;
} */
.SizingLast{
    margin: 4rem 0rem;
    height: 80vh;
}


/* .Size1 img{

} */
@media (min-width: 1050px) {
    #MobileNav{
        display: none;
    }
/*     #UlNav{
        display: none;
    }
 */
}
@media (max-width:1050px) {
    #UlNav{
        display: none;
    }
    #DetailsM{
        margin-top: 5rem;
    }
    .Sizing{
        margin-top: 5rem;
    }
    .js-contain{
        margin-top: 5rem;
        margin-bottom: -3rem;
    }
}
@media (min-width: 950px) {

    #CheckBody{
        display: none !important;
    }    
}
@media (max-width: 795) {
    .SizeMayor{
        flex-direction: column;

    }
    .Size{
        display: flex;
        flex-direction: row;
    }
    .SizeP{
        flex-direction: row;
    }
}
    @media (max-width: 600px) {
        .Sizing{
            margin-top: 5rem;
            width: 90vw;
            height: 85vh;
        }
        .js-contain-so{
            flex-wrap: wrap;
            flex-grow: 1;
        }
    }

@media (max-width: 440px ){
    #Footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .SecondDiv{
        justify-content: center;
        align-items: center;
    }
    #CardContainer{
        padding: 0;
    }
}
@media (max-width: 465px ){
    #CardContainer{
        flex-direction: column;
        padding: 3rem 0rem;
    }
    .Sizing{
        margin-top: 5rem;
        width: 90vw;
        height: 80vh;
    }
    #butFour{
        justify-content: center !important;
    }
}